In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
df_train = pd.read_csv("data/train.csv")
df_test = pd.read_csv("data/test.csv")

In [18]:
df_train

   train1   train2
1       1        2

In [19]:
df_test

   test1   test2
1      1       2